.App{
  text-align: center;
}

ul{
  list-style: none;
}

li{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.delete{
  color: red;
  cursor: pointer;
}
div{
  display: flex;
  justify-content: center;
  align-items: center;
}
input:checked + div{
  text-decoration: line-through;
  display: flex;
  justify-content: center;
  align-items: center;
}
